/* Import a geeky font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Montserrat:wght@900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #0d1117;
}
